.list
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(150px, 300px))
    justify-content: center
    grid-gap: 0.5vw
    padding-top: 70px
    &_wrapper
        max-width: 300px
        min-width: 260px
        background-color: #ffffff
        box-shadow: 0 0 1px 1px rgba(221, 221, 221, 1)

.description
    display: flex
    flex-direction: column
    padding: 10px 15px 10px 15px
    &_list
        display: flex
        flex-direction: column
        margin-bottom: 10px
    &_item
        margin-top: 7px
    &_title
        display: flex
        justify-content: center
        align-items: center
        color: #7c827f
        &:hover
            cursor: pointer
.icon
    opacity: 0.6
    color: #7c827f
    &_activ
        color: red
        &:hover
            cursor: pointer
            opacity: 0.7
    &:hover
        cursor: pointer
        opacity: 0.7

.img
    width: 100%


@media screen and (max-width: 360px)
    .description
        &_list
            font-size: 15px
        &_title
            font-size: 15px